fields/
__pycache__/
old/
templates/old/
static/css/old/
static/js/old/
history.json
coverage.wkb
install.txt
# Игнорировать папки во всех поддиректориях проекта
**/.pio/
**/.vscode/
hardware/Panel_7_16/
.VSCodeCounter/